/* Nav animation*/
nav {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4.8s;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


nav {
    background-color: rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 1%;
    width: 100vh;
    z-index: 10; 
}

nav ul {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: left; /* ALIGN NAVBAR */
    align-items: center;
}

nav li {
    flex: 1;
    text-align: center;
    max-width: fit-content;
    
}

nav a {
    font-family: 'Ubuntu', sans-serif;
    
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.nav-logo {
    width: 80px;
    height: 80px;
}